/* we edited copy button available while we copy code by editing it in inspect and then copy pasting it here in style.css wrna by default to thoda ganda sa hota hai */
/* pr ek dikkat ayegi ki wo work nhi krega to use "!important" here to fr wo kam krna shuru ho jaega */
*{
    margin: 0;
    padding: 0;
}

.bg{
/* background-color: red; */
top:50px;
width:98vw;
height:98vh;
background-image: url("html_css_js_bg.jpg");
}

nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d6d84;;
    color: white;
    height: 72px;
}

.content{
    font-family: 'Potta One', cursive;
}

.container{
    color: black;
    /* background-color: red; */
    width: 50vw;
    padding: 32px 0;
    margin: auto; /* bringing to center */
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
}

.container li{
    background-color:#c7fa2be8;
    list-style-type: none;
}

.logo{
    padding: 0 13px;
}

.logo img{
    width: 32px;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}